/* EikonWebUI */

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/proximanovatab/proximanovatab-regular.eot?#090315');
    src: url('../fonts/proximanovatab/proximanovatab-regular.eot?#090315iefix') format('embedded-opentype'), url('../fonts/proximanovatab/proximanovatab-regular.ttf?#090315') format('truetype'), url('../fonts/proximanovatab/proximanovatab-regular.woff?#090315') format('woff');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/proximanovatab/proximanovatab-semibold.eot?#090315');
    src: url('../fonts/proximanovatab/proximanovatab-semibold.eot?#090315iefix') format('embedded-opentype'), url('../fonts/proximanovatab/proximanovatab-semibold.ttf?#090315') format('truetype'), url('../fonts/proximanovatab/proximanovatab-semibold.woff?#090315') format('woff');
    font-weight: bold;
    font-style: normal
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/proximanovatab/proximanovatab-bold.eot?#170415');
    src: url('../fonts/proximanovatab/proximanovatab-bold.eot?#170415iefix') format('embedded-opentype'), url('../fonts/proximanovatab/proximanovatab-bold.ttf?#170415') format('truetype'), url('../fonts/proximanovatab/proximanovatab-bold.woff?#170415') format('woff');
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: 'EikonFont';
    src: url('../fonts/eikon/EikonFont.woff2?#260217') format('woff2'), url('../fonts/eikon/EikonFont.woff?#260217') format('woff');
    font-weight: normal;
    font-style: normal
}

*::-webkit-scrollbar {
    width: 7px;
    height: 7px
}

*::-webkit-scrollbar-corner {
    background: #000
}

*::-webkit-scrollbar-thumb {
    background-color: #666570;
    border-radius: 50px
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #e2e2e2
}

*::-webkit-scrollbar-thumb:active {
    background-color: #f93
}

*::-webkit-scrollbar-track {
    background-color: #2e2e33
}

.large-scrollbar::-webkit-scrollbar {
    width: 11px !important;
    height: 11px !important
}

.large-scrollbar::-webkit-scrollbar-corner {
    background: #000
}

.large-scrollbar::-webkit-scrollbar-thumb {
    background-color: #666570;
    border-radius: 50px
}

.large-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #e2e2e2
}

.large-scrollbar::-webkit-scrollbar-thumb:active {
    background-color: #f93
}

.large-scrollbar::-webkit-scrollbar-track {
    background-color: #2e2e33
}

.large-scrollbar::-webkit-scrollbar-button {
    height: 12px;
    width: 12px;
    background-color: #2e2e33;
    display: block
}

.large-scrollbar::-webkit-scrollbar-button:start:decrement {
    background-image: url("../images/solar/scroll_arrow_up.png");
    background-position: 1px 0;
    background-repeat: no-repeat
}

.large-scrollbar::-webkit-scrollbar-button:start:increment,
.large-scrollbar::-webkit-scrollbar-button:end:decrement {
    display: none
}

.large-scrollbar::-webkit-scrollbar-button:start:decrement:hover {
    background-position: 1px -11px
}

.large-scrollbar::-webkit-scrollbar-button:start:decrement:active {
    background-position: 1px -22px
}

.large-scrollbar::-webkit-scrollbar-button:horizontal:start:decrement {
    background-image: url("../images/solar/scroll_arrow_left.png")
}

.large-scrollbar::-webkit-scrollbar-button:end:increment {
    background-image: url("../images/solar/scroll_arrow_down.png");
    background-position: 1px 0;
    background-repeat: no-repeat
}

.large-scrollbar::-webkit-scrollbar-button:end:increment:hover {
    background-position: 1px -11px
}

.large-scrollbar::-webkit-scrollbar-button:end:increment:active {
    background-position: 1px -22px
}

.large-scrollbar::-webkit-scrollbar-button:horizontal:end:increment {
    background-image: url("../images/solar/scroll_arrow_right.png")
}

body {
    scrollbar-face-color: #666570;
    scrollbar-shadow-color: #666570;
    scrollbar-highlight-color: #666570;
    scrollbar-3dlight-color: #2e2e33;
    scrollbar-darkshadow-color: #2e2e33;
    scrollbar-track-color: #2e2e33;
    scrollbar-arrow-color: #666570
}

.text-right {
    text-align: right !important
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.basic-table {
    background-color: #1a1a1c;
    border: 1px solid #0a0a0a;
    width: 100%
}

.basic-table thead {
    background-color: #212124;
    color: #8c8c8c
}

.basic-table th {
    font-weight: bold
}

.basic-table.sortable th:hover {
    cursor: pointer;
    color: #fff
}

.basic-table td,
.basic-table th {
    border: 1px solid #0a0a0a;
    margin: 0 auto;
    padding: 5px 10px;
    text-align: left
}

.basic-table.narrow td,
.basic-table.narrow th {
    padding: 5px 3px
}

.basic-table tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.08);
    color: white
}

@media print {
    .basic-table {
        border-collapse: collapse;
        border-color: #4a4a52 !important;
        color: #000 !important
    }
}

.icon-fix,
[class^="icon-"],
[class*=" icon-"] {
    font-family: 'EikonFont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-size: 0;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-fix:before,
[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-size: 15px
}

.icon-powerpoint.branded {
    color: #ff7200
}

.icon-excel.branded {
    color: #00a626
}

.icon-pdf.branded {
    color: #ff3535
}

.icon-word.branded {
    color: #0094c4
}

.icon-favourties:before {
    content: "\e605"
}

.icon-high-low-chart:before {
    content: "\e6a2"
}

.icon-news-fullview:before {
    content: "\e969"
}

.icon-news-headlines-summary:before {
    content: "\e96b"
}

.icon-news-headlines-only:before {
    content: "\e96c"
}

.icon-chart-decimals:before {
    content: "\e96d"
}

.icon-sankey:before {
    content: "\e96a"
}

.icon-grc-log-out:before {
    content: "\e965"
}

.icon-history-2:before {
    content: "\e966"
}

.icon-SendFeed:before {
    content: "\e967"
}

.icon-SendFull:before {
    content: "\e968"
}

.icon-FX-tick:before {
    content: "\e964"
}

.icon-FX:before {
    content: "\e963"
}

.icon-layouts:before {
    content: "\e960"
}

.icon-one-and-two-panes:before {
    content: "\e961"
}

.icon-one-and-three-panes:before {
    content: "\e962"
}

.icon-cbp-cut:before {
    content: "\e95c"
}

.icon-cbp-hike:before {
    content: "\e95d"
}

.icon-cbp-no-change:before {
    content: "\e95e"
}

.icon-my-eikon:before {
    content: "\e95f"
}

.icon-chart-magnet:before {
    content: "\e958"
}

.icon-snippets:before {
    content: "\e95a"
}

.icon-chart-event-markers-2:before {
    content: "\e959"
}

.icon-customer-service:before {
    content: "\e95b"
}

.icon-dsc-view-default-style:before {
    content: "\e957"
}

.icon-chart-andrews-pitchfork:before {
    content: "\e945"
}

.icon-chart-chart-delete-trendlines:before {
    content: "\e946"
}

.icon-chart-fibonacci-fan:before {
    content: "\e947"
}

.icon-chart-fibonacci-projections:before {
    content: "\e948"
}

.icon-chart-fibonacci-retracements:before {
    content: "\e949"
}

.icon-chart-gan-fan:before {
    content: "\e94a"
}

.icon-chart-gan-line:before {
    content: "\e94b"
}

.icon-chart-horizontal-line:before {
    content: "\e94c"
}

.icon-chart-info-line:before {
    content: "\e94d"
}

.icon-chart-line-segment:before {
    content: "\e94e"
}

.icon-chart-line:before {
    content: "\e94f"
}

.icon-chart-ray:before {
    content: "\e950"
}

.icon-chart-regression-line:before {
    content: "\e951"
}

.icon-chart-reverse-ray:before {
    content: "\e952"
}

.icon-chart-speed-resistance-lines:before {
    content: "\e953"
}

.icon-chart-trend-channel:before {
    content: "\e954"
}

.icon-chart-trend-lines:before {
    content: "\e955"
}

.icon-chart-vertical-line:before {
    content: "\e956"
}

.icon-group:before {
    content: "\e941"
}

.icon-send:before {
    content: "\e942"
}

.icon-shared-locked:before {
    content: "\e943"
}

.icon-shared:before {
    content: "\e944"
}

.icon-extend-heatmap-section:before {
    content: "\e940"
}

.icon-add-column:before {
    content: "\e93d"
}

.icon-chart-new-data-arrived:before {
    content: "\e93e"
}

.icon-quotelist:before {
    content: "\e93f"
}

.icon-lightbulb:before {
    content: "\e936"
}

.icon-add-to-basket:before {
    content: "\e937"
}

.icon-bigger-plus:before {
    content: "\e938"
}

.icon-csv-2:before {
    content: "\e939"
}

.icon-plus-in-circle:before {
    content: "\e93a"
}

.icon-plus-in-square:before {
    content: "\e93b"
}

.icon-supply-chain:before {
    content: "\e93c"
}

.icon-helios:before {
    content: "\e934"
}

.icon-dockbottom:before {
    content: "\e92c"
}

.icon-docktop:before {
    content: "\e92d"
}

.icon-multi-column-sorting:before {
    content: "\e92e"
}

.icon-dashboard:before {
    content: "\e92f"
}

.icon-dsc-recycle-bin:before {
    content: "\e930"
}

.icon-align-justify:before {
    content: "\e931"
}

.icon-decrease-indent:before {
    content: "\e932"
}

.icon-increase-indent:before {
    content: "\e933"
}

.icon-five-charts:before {
    content: "\e92a"
}

.icon-three-charts:before {
    content: "\e92b"
}

.icon-change-layout:before {
    content: "\e929"
}

.icon-summary:before {
    content: "\e917"
}

.icon-width-to-max:before {
    content: "\e918"
}

.icon-width-to-min:before {
    content: "\e919"
}

.icon-paste:before {
    content: "\e91a"
}

.icon-report:before {
    content: "\e91b"
}

.icon-same-size:before {
    content: "\e91c"
}

.icon-both-to-max:before {
    content: "\e91d"
}

.icon-both-to-min:before {
    content: "\e91e"
}

.icon-cut:before {
    content: "\e91f"
}

.icon-fill-background:before {
    content: "\e920"
}

.icon-height-to-max:before {
    content: "\e921"
}

.icon-height-to-min:before {
    content: "\e922"
}

.icon-analytics-align-bottom:before {
    content: "\e923"
}

.icon-analytics-align-center:before {
    content: "\e924"
}

.icon-analytics-align-left:before {
    content: "\e925"
}

.icon-analytics-align-middle:before {
    content: "\e926"
}

.icon-analytics-align-right:before {
    content: "\e927"
}

.icon-analytics-align-top:before {
    content: "\e928"
}

.icon-search-minus:before {
    content: "\e916"
}

.icon-training:before {
    content: "\e915"
}

.icon-briefcase-add:before {
    content: "\e904"
}

.icon-briefcase-remove:before {
    content: "\e905"
}

.icon-dsc-add-to-gallery:before {
    content: "\e906"
}

.icon-dsc-remove-from-gallery:before {
    content: "\e911"
}

.icon-dsc-copy-to-work:before {
    content: "\e907"
}

.icon-dsc-default:before {
    content: "\e908"
}

.icon-dsc-delete-chart:before {
    content: "\e909"
}

.icon-dsc-encript:before {
    content: "\e90a"
}

.icon-dsc-impersonate:before {
    content: "\e90b"
}

.icon-dsc-manage-entitlements:before {
    content: "\e90c"
}

.icon-dsc-manage-tips:before {
    content: "\e90d"
}

.icon-dsc-monitor:before {
    content: "\e90e"
}

.icon-dsc-move-charts:before {
    content: "\e90f"
}

.icon-dsc-remove-collection:before {
    content: "\e910"
}

.icon-neutral:before {
    content: "\e912"
}

.icon-overweight:before {
    content: "\e913"
}

.icon-underweight:before {
    content: "\e914"
}

.icon-insider-cc:before {
    content: "\e71d"
}

.icon-profile-small:before {
    content: "\e71e"
}

.icon-msgr-warning:before {
    content: "\e71f"
}

.icon-msgr-remove:before {
    content: "\e720"
}

.icon-msgr-minus:before {
    content: "\e721"
}

.icon-msgr-timer:before {
    content: "\e722"
}

.icon-external-content:before {
    content: "\e71a"
}

.icon-six-charts:before {
    content: "\e71b"
}

.icon-nine-charts:before {
    content: "\e71c"
}

.icon-chart-backtest:before {
    content: "\e715"
}

.icon-msgr-messagedelivered:before {
    content: "\e716"
}

.icon-msgr-messagesent:before {
    content: "\e717"
}

.icon-msgr-alert:before {
    content: "\e718"
}

.icon-msgr-group:before {
    content: "\e719"
}

.icon-table-of-contents:before {
    content: "\e714"
}

.icon-msgr-colortheme:before {
    content: "\e70f"
}

.icon-msgr-participants:before {
    content: "\e710"
}

.icon-msgr-camera:before {
    content: "\e711"
}

.icon-up-two:before {
    content: "\e712"
}

.icon-down-two:before {
    content: "\e713"
}

.icon-four-panes:before {
    content: "\e6fd"
}

.icon-two-side-panes:before {
    content: "\e6fe"
}

.icon-three-panes:before {
    content: "\e6ff"
}

.icon-three-equal-panes:before {
    content: "\e700"
}

.icon-two-panes:before {
    content: "\e701"
}

.icon-two-equal-panes:before {
    content: "\e702"
}

.icon-single-pane:before {
    content: "\e703"
}

.icon-twitter:before {
    content: "\e935"
}

.icon-msgr-adduser:before {
    content: "\e705"
}

.icon-msgr-bilateral:before {
    content: "\e706"
}

.icon-msgr-addrow:before {
    content: "\e707"
}

.icon-msgr-expandeall:before {
    content: "\e708"
}

.icon-msgr-collapseall:before {
    content: "\e709"
}

.icon-msgr-deleterow:before {
    content: "\e70a"
}

.icon-msgr-merge:before {
    content: "\e70b"
}

.icon-msgr-blast:before {
    content: "\e70c"
}

.icon-line-chart-grid:before {
    content: "\e70d"
}

.icon-line-chart-hpc:before {
    content: "\e70e"
}

.icon-expression-builder:before {
    content: "\e6eb"
}

.icon-save-as:before {
    content: "\e6ec"
}

.icon-new:before {
    content: "\e6ed"
}

.icon-buzz:before {
    content: "\e6ee"
}

.icon-emote:before {
    content: "\e6ef"
}

.icon-attach:before {
    content: "\e6f0"
}

.icon-mappin:before {
    content: "\e6f1"
}

.icon-compass:before {
    content: "\e6f2"
}

.icon-tag:before {
    content: "\e6f3"
}

.icon-default-size:before {
    content: "\e6f4"
}

.icon-chord-icon:before {
    content: "\e6f5"
}

.icon-reorganise-lines:before {
    content: "\e6f6"
}

.icon-correlate-lines:before {
    content: "\e6f7"
}

.icon-apply-style:before {
    content: "\e6f8"
}

.icon-resize:before {
    content: "\e6f9"
}

.icon-export-chart:before {
    content: "\e6fa"
}

.icon-collection:before {
    content: "\e6fb"
}

.icon-apply-slicing:before {
    content: "\e6fc"
}

.icon-search-plus:before {
    content: "\e6e9"
}

.icon-csv:before {
    content: "\e6ea"
}

.icon-approximate:before {
    content: "\e6e8"
}

.icon-switch-normal:before {
    content: "\e67f"
}

.icon-switch-hover:before {
    content: "\e6e3"
}

.icon-function-normal:before {
    content: "\e6e4"
}

.icon-function-hover:before {
    content: "\e6e5"
}

.icon-parameter-normal:before {
    content: "\e6e6"
}

.icon-parameter-hover:before {
    content: "\e6e7"
}

.icon-popout:before {
    content: "\e6d1"
}

.icon-text-center:before {
    content: "\e6d5"
}

.icon-text-right:before {
    content: "\e6d6"
}

.icon-text-left:before {
    content: "\e6d7"
}

.icon-text-underline:before {
    content: "\e6d8"
}

.icon-text-italic:before {
    content: "\e6d9"
}

.icon-text-bold:before {
    content: "\e6da"
}

.icon-void:before {
    content: "\e6db"
}

.icon-tree:before {
    content: "\e6dc"
}

.icon-unlock:before {
    content: "\e6dd"
}

.icon-list-number:before {
    content: "\e6de"
}

.icon-dockright:before {
    content: "\e6df"
}

.icon-dockleft:before {
    content: "\e6e0"
}

.icon-toggle-empty:before {
    content: "\e6d2"
}

.icon-toggle-full:before {
    content: "\e6d3"
}

.icon-chart-view:before {
    content: "\e6cb"
}

.icon-vertical-cursor:before {
    content: "\e6cc"
}

.icon-draw-custom-2:before {
    content: "\e6cd"
}

.icon-draw-custom-1:before {
    content: "\e6ce"
}

.icon-data-point:before {
    content: "\e6cf"
}

.icon-map-chart:before {
    content: "\e6d0"
}

.icon-multi-presentation:before {
    content: "\e6e2"
}

.icon-redo:before {
    content: "\e6d4"
}

.icon-home:before {
    content: "\e6ca"
}

.icon-stack-l:before {
    content: "\e6c7"
}

.icon-stack-m:before {
    content: "\e6c8"
}

.icon-stack-h:before {
    content: "\e6c9"
}

.icon-split:before {
    content: "\e6b4"
}

.icon-dividend:before {
    content: "\e6b5"
}

.icon-conference-presentation:before {
    content: "\e6b6"
}

.icon-conference:before {
    content: "\e6b7"
}

.icon-other:before {
    content: "\e6b8"
}

.icon-market-holiday:before {
    content: "\e6b9"
}

.icon-flag-2:before {
    content: "\e6ba"
}

.icon-ipo-pricing:before {
    content: "\e6bb"
}

.icon-secondary-filing:before {
    content: "\e6bc"
}

.icon-roadshow:before {
    content: "\e6bd"
}

.icon-company-visit:before {
    content: "\e6be"
}

.icon-statement-release:before {
    content: "\e6bf"
}

.icon-meeting:before {
    content: "\e6c0"
}

.icon-calc:before {
    content: "\e6c1"
}

.icon-call:before {
    content: "\e6c2"
}

.icon-downpanel-open-hover:before {
    content: "\e6c3"
}

.icon-downpanel-open:before {
    content: "\e6c4"
}

.icon-uppanel-closed-hover:before {
    content: "\e6c5"
}

.icon-uppanel-closed:before {
    content: "\e6c6"
}

.icon-assign:before {
    content: "\e6a9"
}

.icon-screen:before {
    content: "\e6aa"
}

.icon-unspecified:before {
    content: "\e6ab"
}

.icon-export:before {
    content: "\e6ac"
}

.icon-vessel:before {
    content: "\e6ad"
}

.icon-individual:before {
    content: "\e6ae"
}

.icon-ongoing-screening:before {
    content: "\e6af"
}

.icon-cross-2:before {
    content: "\e6b0"
}

.icon-warning-2:before {
    content: "\e6b1"
}

.icon-info-2:before {
    content: "\e6b2"
}

.icon-enhanced-due-diligence:before {
    content: "\e6b3"
}

.icon-flag:before {
    content: "\e69c"
}

.icon-candle-chart:before {
    content: "\e69f"
}

.icon-ohlc-chart:before {
    content: "\e6a2"
}

.icon-fact-sheet-pdf:before {
    content: "\e6a5"
}

.icon-line-chart-2:before {
    content: "\e6a6"
}

.icon-gradient-fill:before {
    content: "\e6a7"
}

.icon-order-list-up:before {
    content: "\e6a8"
}

.icon-mini-left:before {
    content: "\e63d"
}

.icon-mini-right:before {
    content: "\e63e"
}

.icon-sound-on:before {
    content: "\e69b"
}

.icon-sound-mute:before {
    content: "\e69d"
}

.icon-skip-to-end:before {
    content: "\e69e"
}

.icon-skip-to-start:before {
    content: "\e6a0"
}

.icon-stop:before {
    content: "\e6a1"
}

.icon-palette:before {
    content: "\e690"
}

.icon-eyedropper:before {
    content: "\e691"
}

.icon-earnings-corporate:before {
    content: "\e692"
}

.icon-dividends:before {
    content: "\e693"
}

.icon-institutional:before {
    content: "\e694"
}

.icon-transactions:before {
    content: "\e695"
}

.icon-corporate-actions:before {
    content: "\e696"
}

.icon-economic:before {
    content: "\e697"
}

.icon-transcript:before {
    content: "\e698"
}

.icon-mp3:before {
    content: "\e699"
}

.icon-company-guidance:before {
    content: "\e69a"
}

.icon-download-calendar:before {
    content: "\e68f"
}

.icon-long-arrow-down:before {
    content: "\e677"
}

.icon-long-arrow-up:before {
    content: "\e678"
}

.icon-cross-mini-2:before {
    content: "\e67e"
}

.icon-eraser:before {
    content: "\e686"
}

.icon-align-left:before {
    content: "\e689"
}

.icon-align-middle:before {
    content: "\e688"
}

.icon-align-right:before {
    content: "\e687"
}

.icon-three-column:before {
    content: "\e676"
}

.icon-two-column:before {
    content: "\e68c"
}

.icon-one-column:before {
    content: "\e68a"
}

.icon-minus:before {
    content: "\e68d"
}

.icon-filings-link:before {
    content: "\e68e"
}

.icon-toasts-panel:before {
    content: "\e680"
}

.icon-pause-toasts-panel:before {
    content: "\e682"
}

.icon-tornado-chart:before {
    content: "\e681"
}

.icon-note:before {
    content: "\e684"
}

.icon-add-to-file:before {
    content: "\e683"
}

.icon-order-list:before {
    content: "\e68b"
}

.icon-make-fullscreen:before {
    content: "\e685"
}

.icon-quote:before {
    content: "\e6e1"
}

.icon-go-back:before {
    content: "\e679"
}

.icon-increase-font:before {
    content: "\e67a"
}

.icon-delete-from-briefcase:before {
    content: "\e67b"
}

.icon-add-to-briefcase:before {
    content: "\e67c"
}

.icon-messenger:before {
    content: "\e67d"
}

.icon-bolt-down:before {
    content: "\e674"
}

.icon-bolt-up:before {
    content: "\e675"
}

.icon-read-all:before {
    content: "\e671"
}

.icon-add-calendar:before {
    content: "\e672"
}

.icon-news:before {
    content: "\e673"
}

.icon-presentation:before {
    content: "\e66d"
}

.icon-slides:before {
    content: "\e66e"
}

.icon-shapes:before {
    content: "\e66f"
}

.icon-image:before {
    content: "\e670"
}

.icon-up-all:before {
    content: "\e66b"
}

.icon-down-all:before {
    content: "\e66c"
}

.icon-txt:before {
    content: "\e66a"
}

.icon-jpg:before {
    content: "\e666"
}

.icon-png:before {
    content: "\e667"
}

.icon-access:before {
    content: "\e668"
}

.icon-pie-chart:before {
    content: "\e669"
}

.icon-select-area:before {
    content: "\e6a3"
}

.icon-crop:before {
    content: "\e658"
}

.icon-previous-page:before {
    content: "\e659"
}

.icon-next-page:before {
    content: "\e65a"
}

.icon-text:before {
    content: "\e65b"
}

.icon-open:before {
    content: "\e65c"
}

.icon-display-all-fields:before {
    content: "\e65d"
}

.icon-set-alert:before {
    content: "\e65e"
}

.icon-undo:before {
    content: "\e65f"
}

.icon-compose:before {
    content: "\e660"
}

.icon-bookmark:before {
    content: "\e661"
}

.icon-link:before {
    content: "\e662"
}

.icon-filter:before {
    content: "\e663"
}

.icon-history:before {
    content: "\e664"
}

.icon-globe:before {
    content: "\e665"
}

.icon-users:before {
    content: "\e656"
}

.icon-drag:before {
    content: "\e652"
}

.icon-powerpoint:before {
    content: "\e653"
}

.icon-html:before {
    content: "\e654"
}

.icon-L:before {
    content: "\e655"
}

.icon-tick:before {
    content: "\e62a"
}

.icon-share:before {
    content: "\e60e"
}

.icon-line-chart:before {
    content: "\e650"
}

.icon-3d-surface:before {
    content: "\e651"
}

.icon-pause:before {
    content: "\e64a"
}

.icon-exceldoc:before {
    content: "\e64b"
}

.icon-excel:before {
    content: "\e64c"
}

.icon-pdf:before {
    content: "\e64d"
}

.icon-word:before {
    content: "\e64e"
}

.icon-sound:before {
    content: "\e64f"
}

.icon-switch-dark:before {
    content: "\e646"
}

.icon-switch-light:before {
    content: "\e647"
}

.icon-print:before {
    content: "\e6a4"
}

.icon-research:before {
    content: "\e649"
}

.icon-email:before {
    content: "\e636"
}

.icon-message:before {
    content: "\e637"
}

.icon-blend:before {
    content: "\e638"
}

.icon-highlight:before {
    content: "\e639"
}

.icon-forward:before {
    content: "\e63a"
}

.icon-back:before {
    content: "\e63b"
}

.icon-mini-up:before {
    content: "\e63c"
}

.icon-mini-down:before {
    content: "\e63f"
}

.icon-leftpanel-closed:before {
    content: "\e640"
}

.icon-leftpanel-closed-hover:before {
    content: "\e641"
}

.icon-leftpanel-open:before {
    content: "\e642"
}

.icon-leftpanel-open-hover:before {
    content: "\e643"
}

.icon-rightpanel-closed:before {
    content: "\e644"
}

.icon-rightpanel-closed-hover:before {
    content: "\e645"
}

.icon-rightpanel-open:before {
    content: "\e648"
}

.icon-rightpanel-open-hover:before {
    content: "\e657"
}

.icon-briefcase:before {
    content: "\e634"
}

.icon-video:before {
    content: "\e635"
}

.icon-support:before {
    content: "\e61f"
}

.icon-info:before {
    content: "\e632"
}

.icon-warning-circle:before {
    content: "\e633"
}

.icon-real-time:before {
    content: "\e631"
}

.icon-expand-arrow-right:before {
    content: "\e62d"
}

.icon-expand-arrow-left:before {
    content: "\e62e"
}

.icon-expand-arrow-up:before {
    content: "\e62f"
}

.icon-expand-arrow-down:before {
    content: "\e630"
}

.icon-add-mini:before {
    content: "\e62b"
}

.icon-fullview:before {
    content: "\e62c"
}

.icon-menu:before {
    content: "\e621"
}

.icon-download:before {
    content: "\e620"
}

.icon-lock:before {
    content: "\e622"
}

.icon-settings:before {
    content: "\e623"
}

.icon-edit:before {
    content: "\e624"
}

.icon-pin:before {
    content: "\e625"
}

.icon-cross-circle:before {
    content: "\e626"
}

.icon-clock:before {
    content: "\e627"
}

.icon-arrow-up:before {
    content: "\e628"
}

.icon-arrow-down:before {
    content: "\e629"
}

.icon-cross-mini:before {
    content: "\e600"
}

.icon-map-layers:before {
    content: "\e601"
}

.icon-snapshot:before {
    content: "\e602"
}

.icon-toggle-on:before {
    content: "\e603"
}

.icon-toggle-off:before {
    content: "\e604"
}

.icon-favourites:before {
    content: "\e605"
}

.icon-right-all:before {
    content: "\e606"
}

.icon-left-all:before {
    content: "\e607"
}

.icon-map:before {
    content: "\e608"
}

.icon-moving-grid:before {
    content: "\e609"
}

.icon-grid:before {
    content: "\e60a"
}

.icon-list:before {
    content: "\e60b"
}

.icon-play:before {
    content: "\e60c"
}

.icon-save:before {
    content: "\e60d"
}

.icon-trash:before {
    content: "\e60f"
}

.icon-copy:before {
    content: "\e610"
}

.icon-more:before {
    content: "\e611"
}

.icon-right:before {
    content: "\e612"
}

.icon-left:before {
    content: "\e613"
}

.icon-up:before {
    content: "\e614"
}

.icon-previous:before {
    content: "\e615"
}

.icon-next:before {
    content: "\e616"
}

.icon-range:before {
    content: "\e617"
}

.icon-refresh:before {
    content: "\e618"
}

.icon-add:before {
    content: "\e619"
}

.icon-chart-line-bar:before {
    content: "\e61a"
}

.icon-chart-bar:before {
    content: "\e61b"
}

.icon-chart-heatmap:before {
    content: "\e61c"
}

.icon-chart-bubble:before {
    content: "\e61d"
}

.icon-feedback:before {
    content: "\e61e"
}

.icon-down:before {
    content: "\e900"
}

.icon-search:before {
    content: "\e901"
}

.icon-cross:before {
    content: "\e902"
}

.icon-calendar:before {
    content: "\e903"
}

/* End EikonWebUI */

html {
    schema: solar;
    margin: 0;
    padding: 0;
    font-family: 'ProximaNova', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 13px;
    color: #c2c2c2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

body {
    background-color: #000000;
    margin: 0 8px;
}

/* HREF links */

a {
    color: #0072AA;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #21AA47;
}

/* ....................................................................... */
/* The top-right side panel and its title child */

div#sidepanel {
    position: absolute;
    top: 0px;
    right: 0px;
}

div#title {
    margin: 4px 2px 6px 0px;
    border-width: 0px;
    padding: 0px;
    text-align: right;
    /*font-family: Verdana, Arial, Helvetica, sans-serif;*/
    font-size: 18px;    
    line-height: 18px;
    color: #FFFFFF;
    font-weight: bold;
    pointer-events: none;
}

.scb-logo {
    height: 75px;
}

header .scb-logo {
    float: right;
}

#title h1 {
    font-size: 18px;
}

div#searchfun {
    margin: 4px 2px 6px 0px;
    border-width: 0px;
    padding: 0px;
    text-align: right;
    /*font-family: Verdana, Arial, Helvetica, sans-serif;*/
    font-size: 18px;    
    line-height: 18px;
    color: #FFFFFF;
    font-weight: bold;
}

div#title img {
    border-width: 0px;
    margin: 0px;
}


img#helpIcon {
    /*position: absolute; 
    right: 6px; 
    top: 150px;*/
    pointer-events: all; 
    cursor: help;
    height: 15px;
    vertical-align: middle;
} 


/* ....................................................................... */
/* On/off toggles for the help/info panels */

div.panel_off {
    visibility: hidden;
    pointer-events: none;
}

div.panel_on {
    visibility: visible;
    pointer-events: all;
}

.ui-autocomplete.ui-front {
    width: 220px !important;
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
}


/* ....................................................................... */
/* Help boxes */

div#help {
    margin: 6px;
    padding: 5px 20px;
    position: absolute;
    width: 420px;
    right: 0px;
    top: 0;
    z-index: 1001;
    background-color: #2E2E33;
    border: 1px solid #0a0a0a;

    /*font-family: Georgia, Times New Roman, Times, serif;*/
    font-size: 11pt;

    -moz-transition: visibility 1.2s;
    -o-transition: visibility 1.2s;
    -webkit-transition: visibility 1.2s;
    transition: visibility 1.2s;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

.action, .close-button, .center-button {
    cursor: pointer;
}

.close-button, .center-button {
    float: right;
}

.center-button {
    margin-top: -5px;
    margin-right: 5px;
}

div#help ul {
    margin: 0.5em 0em 0.5em 0em;
    padding-left: 1.5em;
    
}

div#help li {
    margin: 0em;
    padding: 0px;
}

div#faq {
    position: absolute;
    top: 6px;
    left: 6px;
    padding: 4px;
    width: 860px;
    /*height: 600px;*/
    overflow-y: auto;
    z-index: 1002;
    background-color: #2E2E33;
    border: 1px solid #0a0a0a;

    font-size: 11pt;
    border-radius: 8px;    
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

div#faq dt {
    /*font-family: Verdana, Arial, Helvetica, sans-serif;*/
    font-size: 13pt;    
    /*color: #5D1D4D;*/
    font-weight: bold;
    margin-top: .4em;
}

div#faq dd {
    /*font-family: Georgia, Times New Roman, Times, serif;*/
    padding-left: 0px;
    margin-left: 0.7em;
}

div#close_faq {
    position: fixed; 
    margin-left: 820px; 
    margin-top: 0px;
    padding: 0px;
}


/* ....................................................................... */

div#nocontent {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    width: 600px;
    height: 200px;
    top: 200px;
    left: 200px;
    background: #C3B091;
    border: solid 2px #a00;
    border-radius: 8px;    
    /*font-family: Verdana, Arial, Helvetica, sans-serif;*/
    font-size: 20px;    
    text-align: center;
    vertical-align: center;
    padding: 12px;
}

div#nocontent h1 {
    margin: 1em;
    color: red;
    font-size: 24px;
    font-weight: bold;
}

/* ....................................................................... */
/* Movie details panel */

div#movieInfo {
    position: absolute;
    right: 4px;
    cursor: text;
    width: 300px;
    z-index: 1000;
    background-color: #2E2E33;
    border: 1px solid #0a0a0a;
    border-radius: 8px;    
    /*font-family: Verdana, Arial, Helvetica, sans-serif;*/
    font-size: 10px;    
    padding: 4px;
    text-align: right;
}

div#movieInfo div#cover {
    text-align: left; 
    height: 40px;
}

div#movieInfo h2.t {
    font-size: 14px;
    font-weight: bold;
}

/* div#movieInfo img.cover {
    margin-bottom: 6px;
    position: absolute;
    right: 3px;
}

div#movieInfo img.action {
    cursor: pointer;
    position: absolute;
}		*/

div#movieInfo div.f {
    border-top: 1px dotted #0a0a0a;
    margin: 3px 0;
    padding: 3px 0;
}

div#movieInfo span.d {
    font-weight: bold;
}

div#movieInfo span.c {
    font-style: italic;
}

div#movieInfo span.l {
    font-size: 11px;
    color: #fff;
    font-variant: small-caps;
}

/* ....................................................................... */
/* SVG elements */

div#movieNetwork svg {
    background-color: black;
    cursor: move;
}

line.link {
    stroke: #B2D9D8;
}


/* ....................................................................... */
/* Graph labels */

g.gLabel {
    font: 10px sans-serif;
    font-weight: normal;
    visibility: hidden;
}

g.on {
    visibility: visible;    
}

g.zoomed {
    /*font-family: Verdana, Arial, Helvetica, sans-serif;*/
    font-size: 10px;
    font-weight: normal;
    text-align: center;
    color: #000;
    border: none;
    z-index: 0;
}

text {
    font: 10px /*sans-serif;*/
    font-weight: normal;
    stroke-opacity: 1.0;
}

text.nlabel {
    /*stroke: #000000;*/
}

text.nshadow {
    stroke: #fff;
    stroke-width: 3px;
    /*stroke-opacity: 0.5;*/
    /*visibility: hidden;*/
}

text.main {
    font: 12px;/*sans-serif;*/
    font-weight: bold;
}


/* ....................................................................... */

/* no longer used */

.nlabel_on {
    visibility: visible;
    font-size: 12px;
    opacity: 1.0;
    fill: #101000;
    stroke: #ffffff;
    font-weight: bold;
}

.tooltip{
    position: absolute;
    width: 200px;
    height: 50px;
    padding: 8px;
    font: 15px Helvetica Neue;
    background: #FFF;
    border: solid 1px #aaa;
    border-radius: 8px;
    pointer-events: none;
    z-index:1000;
    text-align:center;
    background: rgba(222,223,163,0.8);
}

h1.title {
    color: #ffffff;
    font-size: 18px;
}

/*Clear fix*/
.group:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
    }
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */

.action-panel {
    position: absolute;
    right: 10px;
    top: 95px;
}

.action-panel select, .action-panel input {
    font-size: 12px;
    padding: 2px;
}

.content-container {
    position: relative;
}

.table-container {
    width: 420px;
    height: calc(100vh - 125px);
    overflow-y: auto;
    float: left;
}

.table-container h3 {
    margin: 5px 0;
}

#graph-container {
    width: calc(100% - 420px);
    height: calc(100vh - 125px);
    float: right;
}

th.sortable {
    cursor: pointer;
    position: relative;
    padding-right: 25px;
}

th.sortable .icon {
    cursor: pointer;
    position: absolute;
    right: 5px;
}

th.sortable .icon.hidden {
    display: none;
}